@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body::-webkit-scrollbar {
  width: 12px;

}

body::-webkit-scrollbar-thumb {
  background: #797979;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
  border-radius: 100px;
}

body {
  background-image: url(../../image/back.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*#3b5998; */



.redes-float {
  background: #0000006b;
  color: #FFFFFF;
  position: fixed;
  width: 40px;
  text-align: center;
  left: 5px;
  bottom: 10px;
  font-size: 22px;
  z-index: 99999999;
  border-radius: 50px;
}

.far {
  padding: 7px;
}

.fab {
  padding: 7px;
}

.far:hover {
  color: #a7a7a7;
}

.fab:hover {
  color: #a7a7a7;

}



@media (max-width: 629px) {
  .redes-float {
    background: #0000009a;
    color: #FFFFFF;
    position: fixed;
    width: 40px;
    text-align: center;
    left: 5px;
    bottom: 10px;
    font-size: 22px;
    z-index: 99999999;
    border-radius: 50px;
  }

  .far {
    padding: 7px;
  }

  .fab {
    padding: 7px;
  }

  .far:hover {
    color: #a7a7a7;
  }

  .fab:hover {
    color: #a7a7a7;
  }
}






.site-header {
  position: relative;

  background-color: rgb(44, 44, 44);

}


@media (max-width: 629px) {
  .site-header {
    height: 140px;
  }
}


.nav__wrapper {
  color: rgb(255, 255, 255);
}


a {
  color: #ffffff;
}

.site-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 630px) {
  .site-header__wrapper {
    justify-content: initial;
  }
}

@media (min-width: 630px) {
  .site-header__middle {
    margin-left: auto;
  }
}

@media (max-width: 629px) {
  .site-header__end {
    padding-right: 4rem;
  }
}

@media (min-width: 630px) {
  .nav__wrapper {
    display: flex;
  }
}

@media (max-width: 629px) {
  .nav__wrapper {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 0;
    left: 0;
    z-index: 4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-out, opacity 0.5s ease-out;
    border-radius: 10px;
    padding: 0px;
    align-items: center;

    background-color: rgb(44, 44, 44);
    margin: 10px;
    margin-top: 95px;

    box-shadow: #000000 6px 2px 20px;

  }

  .nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.capa-header {
  border-bottom: #D1D1D1 2px solid;
}

.nav__item a {
  display: block;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;

  font-weight: 600;


}

@media (max-width: 629px) {
  .nav__item a {
    display: block;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;

    font-weight: 600;
    text-align: center;
    font-size: 22px;
    padding: 30px;


  }

  .mainBorder {
    border-top: #ffffff 1px solid;
    border-bottom: #ffffff 1px solid;
  }

  .mainBorderUp {
    border-top: #ffffff 1px solid;
  }

  .mainBorderDown {
    border-top: #ffffff 1px solid;
    border-bottom: #ffffff 1px solid;
  }
}





.nav__item {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.nav__item:hover,
.nav__item:focus,
.nav__item:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}



.nav__toggle {
  display: none;
}

@media (max-width: 629px) {
  .nav__toggle {
    display: block;
    right: 1rem;
    top: 1rem;
  }
}

.image-logo {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.image-logo:hover,
.image-logo:focus,
.image-logo:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



.bienvenidos {
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  font-weight: 600;

  padding-top: 100px;

  text-shadow: rgba(0, 0, 0, 0.562) 2px 2px 15px;

  animation: bounceInDown;
  animation-duration: 2s;
}

@media (max-width: 629px) {
  .bienvenidos {
    font-size: 28px;
    padding-top: 350px;
    text-shadow: rgba(0, 0, 0, 0.63) 5px 5px 25px;
  }
}

.mama-chilito-titulo {
  text-align: center;
  font-size: 65px;
  color: #ffffff;
  font-weight: 600;

  text-shadow: rgba(0, 0, 0, 0.513) 2px 2px 15px;

  animation: bounceIn;
  animation-duration: 2s;
}

@media (max-width: 629px) {
  .mama-chilito-titulo {
    font-size: 35px;
    text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 25px;
  }
}

.fas {
  padding-right: 5px;
}

/*   contacto */


/* FORMULARIO =================================== */

.form_wrap {
  width: 1050px;
  height: 530px;
  margin: 50px auto;
  display: flex;

  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

  font-family: 'Open sans';
}

/* Informacion de Contacto*/



/* Formulario de contacto*/
form.form_contact {
  width: 62%;
  padding: 30px 40px;

  margin-left: auto;
  margin-right: auto;

  background: #DBDBDB;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  margin-top: 50px;
  margin-bottom: 50px;

  font-family: 'Open sans';

}

@media (max-width: 629px) {
  form.form_contact {
    width: 92%;
    padding: 30px 40px;

    margin-left: auto;
    margin-right: auto;

    font-family: 'Open sans';
  }
}



form.form_contact h2 {
  font-size: 25px;
  font-weight: 600;
  color: #303030;
  margin-bottom: 30px;
  font-family: 'Open sans';
}

form.form_contact .user_info {
  display: flex;
  flex-direction: column;

  font-family: 'Open sans';
}

form.form_contact label {
  font-weight: 600;
  padding: 5px;

  font-family: 'Open sans';
}

form.form_contact input,
form.form_contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;

  border: none;
  border-bottom: 2px solid #D1D1D1;
  border-radius: 5px;

  font-family: 'Open sans';
  color: #5A5A5A;
  font-size: 14px;
  font-weight: 400;
}

form.form_contact textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 200px;
  min-height: 200px;
  resize: none;

  font-family: 'Open sans';
}

form.form_contact input[type="submit"] {
  width: 180px;
  background: rgb(44, 44, 44);
  padding: 10px;
  border: none;
  border-radius: 5px;

  align-self: flex-end;

  color: #fff;
  font-family: 'Open sans';
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

form.form_contact input[type="submit"]:hover {
  background: #444444;
  font-family: 'Open sans';
}

/* Ventana de errores*/
.modal_wrap {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open sans';
}

.mensaje_modal {
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  width: 400px;
  padding: 30px 20px 15px;
  font-family: 'Open sans';
}

.contactanos {
  text-align: center;
  color: #444444;
}

.fa-whatsapp-square {
  color: #444444;
  padding: 0;
  padding-right: 5px;
}

.fa-whatsapp-square:hover {
  color: #444444;
  padding: 0;
  padding-right: 5px;
}


.mensaje_modal h3 {
  text-align: center;
  font-family: 'Open sans';
  font-size: 20px;
  font-weight: 400;
}

.mensaje_modal h3:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #C5C5C5;
  margin: 10px 0px 15px;
  font-family: 'Open sans';
}

.mensaje_modal p {
  font-size: 16px;
  color: #444444;
  font-family: 'Open sans';
}

.mensaje_modal p:before {
  content: "\f00d";
  font-family: 'Open sans';
  display: inline-block;
  color: #E25151;
  margin-right: 8px;
}

#btnClose {
  display: inline-block;
  padding: 3px 10px;
  margin-top: 10px;

  background: #E25151;
  color: #fff;
  border: 2px solid #B14141;
  cursor: pointer;

  /*float: right; */
}

label {
  color: #444444;
}

/* fin  */







/*  footer*/


footer {
  background-color: #010409;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 100px;
}




.imagen-footer {
  width: 150px;

  padding: 10px;
}

.correo-logo {
  display: flex;
  justify-content: center;
  align-items: center;


  color: #ffffff;


  margin-left: auto;
  margin-right: auto;


  gap: 600px;

  padding: 20px;
}

.info-del-footer {
  font-size: 15px;
  font-weight: 600;
}

.correo-info {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.redes-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  padding: 20px 0px 20px 0px;
  border-top: rgb(255, 255, 255) 2px solid;
  border-bottom: rgb(255, 255, 255) 2px solid;

  margin-left: 0;
  margin-right: 0;

  width: 99.1vw;
}

  .fa-thumbs-up {
    padding: 5px;
  }

.redes-del-footer {
  font-size: 35px;
  font-weight: 100;
  padding: 10px 20px 10px 20px;
}

.redes-del-footer-uno {
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  transition: 300ms;
}

.redes-del-footer-uno:hover {
  color: #8f8f8f;
}

.copyright {
  font-size: 11px;
  color: #ffffff;
  background-color: #0f1624;
  text-align: center;
  padding: 20px 0px 20px 0px;
  font-family: 'Open Sans', sans-serif;
}



@media (max-width: 1025px) {
  footer {
    background-color: #0f1624;
  }

  .imagen-footer {
    width: 100px;

    padding: 10px;

  }

  .correo-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    color: #ffffff;

    margin-left: auto;
    margin-right: auto;

    gap: 10px;

    padding: 30px;
  }

  .info-del-footer {
    font-size: 15px;
    font-weight: 600;
  }

  .correo-info {
    text-align: center;
    align-items: center;
  }

  .fa-thumbs-up {
    padding: 5px;
  }


  .redes-del-footer {
    font-size: 50px;
    font-weight: 100;
    padding: 10px 20px 10px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;

    width: 100vw;
  }

  .redes-del-footer-uno {
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    transition: 300ms;
  }

  .redes-del-footer-uno:hover {
    color: #8f8f8f;
  }

  .copyright {
    font-size: 11px;
    color: #ffffff;
    background-color: #0f1624;
    text-align: center;
    padding: 30px 0px 30px 0px;
    font-family: 'Open Sans', sans-serif;
  }
}


/* fin */



















































































/*






    <div class="w-full max-w-xs">
        <form id="form" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                    Nombre
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    name="name" id="name" type="text" placeholder="Ingresa tu nombre" required>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                    Apellidos
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    name="lastname" id="lastname" type="text" placeholder="Ingresa tus apellidos" required>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                    Correo
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    name="email" id="email" type="email" placeholder="Ingresa tu correo" required>
            </div>
            <div class="flex items-center justify-between">
                <button id="submit"
                    class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                    <i class="fab fa-whatsapp"></i> Enviar WhatsApp
                </button>
            </div>
        </form>

    </div>
    <script src="https://kit.fontawesome.com/1e268974cb.js" crossorigin="anonymous"></script>




    <script>
        function isMobile() {
            if (sessionStorage.desktop)
                return false;
            else if (localStorage.mobile)
                return true;
            var mobile = ['iphone', 'ipad', 'android', 'blackberry', 'nokia', 'opera mini', 'windows mobile',
                'windows phone', 'iemobile'
            ];
            for (var i in mobile)
                if (navigator.userAgent.toLowerCase().indexOf(mobile[i].toLowerCase()) > 0) return true;
            return false;
        }
        const $form = document.querySelector('#form');
        const buttonSubmit = document.querySelector('#submit');
        const urlDesktop = 'https://web.whatsapp.com/';
        const urlMobile = 'whatsapp://';
        const phone = '50686338619';
        $form.addEventListener('submit', (event) => {
            event.preventDefault()
            buttonSubmit.innerHTML = '<i class="fas fa-circle-notch fa-spin"></i>'
            buttonSubmit.disabled = true
            setTimeout(() => {
                let name = document.querySelector('#name').value
                let lastname = document.querySelector('#lastname').value
                let email = document.querySelector('#email').value
                let message = 'send?phone=' + phone +
                    '&text=*_Formulario Gabriel Chávez_*%0A*Contacto*%0A%0A*¿Cual es tu nombre🍔🧀?*%0A' +
                    name + '%0A*¿Cuáles son tus apellidos?*%0A' + lastname +
                    '%0A*¿Cuál es tu correo?*%0A' + email + ''
                if (isMobile()) {
                    window.open(urlMobile + message, '_blank')
                } else {
                    window.open(urlDesktop + message, '_blank')
                }
                buttonSubmit.innerHTML = '<i class="fab fa-whatsapp"></i> Enviar WhatsApp'
                buttonSubmit.disabled = false
            }, 4000);
        });
    </script>



    */